.about {
    width: 50%; /* Ширина блока */
    margin: 0 auto; /* Отступы слева и справа автоматически рассчитываются, чтобы центрировать блок */
    text-align: center; /* Выравнивание текста по центру */
}

p {
    margin: 20px;
    font-size: 20px;
}