.navigationContainer {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.logoContainer {
    margin-right: 20px; /* Отступ справа от логотипа */
}

.logoContainer img {
    margin-top: 20px;
    width: 100%; /* Установка ширины логотипа */
    height: auto; /* Автоматическое определение высоты для сохранения пропорций */
}

.centeredLinks {
    display: flex;
    align-items: center; /* Центрирование ссылок по вертикали */
}

.centeredLinks a {
    margin: 0 10px; /* Отступы между ссылками */
    color: white;
    font-size: 20px;
}

.centeredLinks a:hover {
    color: #cccccc; /* Изменение цвета при наведении */
}
