.price img {
    margin-top: -10px;
    background-color: white;
    width: 55%;
    height: 50%;
}

#last {
    margin-bottom: 30px;
}

.buttonContainer {
    /* Отступ сверху */
    margin: 10px;
    padding-bottom: 20px;
}

.button-price {
    margin-right: 10px; /* Отступ между кнопками */
    font-size: 18px;
    color: white;
}

p {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .button-price {
        font-size: 14px; /* Уменьшим размер шрифта кнопок */
        margin: 5px;
        padding: 10px 15px; /* Уменьшим внутренние отступы кнопок */
        color: white;
    }

    .price img {
        margin-top: -10px;
        background-color: white;
        width: 100%; /* Увеличим ширину изображения */
        height: auto; /* Автоматически определим высоту для сохранения пропорций */
    }
}
