.homePage {
    display: flex;
    align-items: center;
    width: 17%;
    margin: 0 auto;
    text-align: left;
}

.homePage h1 {
    padding-top: 50px;
    text-align: left;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 6px;
    position: relative;
    font: 40px / 56px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.homePage hr {
    width: 200px;
    position: absolute;
    text-align: left;
}

.button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    padding: 15px 35px;

    letter-spacing: 0;
}

.button:hover {
    background-color: #f9f9f9;
    color: #000000;
    letter-spacing: 0;
}

@media only screen and (max-width: 768px) {

    .homePage {
        width: 50%;
        padding-top: 50px;
    }

    .homePage h1 {
        font: 20px / 38px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
    }
}